absl-py
alabaster
apt-clone
apt-xapian-index
apturl
asn1crypto
astor
astroid
astropy
attrs
Babel
bleach
Brlapi
certifi
chardet
cloudpickle
command-not-found
configobj
cryptography
cupshelpers
cycler
Cython
decorator
defer
devscripts
distro-info
docutils
emcee
entrypoints
fail2ban
future
gast
google-pasta
gpg
grpcio
h5py
html5lib
httplib2
idna
imagesize
ipykernel
ipython
ipython-genutils
isort
jedi
Jinja2
joeynmt
jsonschema
jupyter-client
jupyter-core
Keras-Applications
Keras-Preprocessing
keyring
keyrings.alt
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
logilab-common
louis
macaroonbakery
Mako
Markdown
MarkupSafe
matplotlib
mccabe
mistune
mpmath
nbconvert
nbformat
netifaces
nose
nose-parameterized
numpy
numpydoc
oauth
olefile
PAM
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pluggy
ply
portalocker
prompt-toolkit
protobuf
psuti
py
pycairo
pycodestyle
pycrypto
pycups
pyds9
pyfits
pyflakes
Pygments
pygobject
PyICU
pyinotify
pylint
pymacaroons
PyNaCl
PyOpenGL
pyparsing
pyqtgraph
pyRFC3339
pytest
pytest-arraydiff
pytest-astropy
pytest-doctestplus
pytest-openfiles
pytest-remotedata
python-apt
python-dateutil
python-debian
python-magic
pytz
pyxdg
PyYAML
pyzmq
QtAwesome
qtconsole
QtPy
reportlab
requests
requests-unixsocket
roman
rope
sacrebleu
scipy
scour
screen-resolution-extra
seaborn
SecretStorage
simplegeneric
simplejson
six
Sphinx
spyder
ssh-import-id
subword-nmt
sympy
system-service
systemd-python
tensorboard
tensorflow-estimator
termcolor
testpath
torch
torchtext
tornado
tqdm
traitlets
typed-ast
typing
ubuntu-drivers-common
ufw
unattended-upgrades
unidiff
urllib3
usb-creator
virtualenv
wadllib
wcwidth
webencodings
Werkzeug
wrapt
xkit
zope.interface
